[submodule "vendor/plugins/awesomeness"]
	path = vendor/plugins/awesomeness
	url = git://github.com/collectiveidea/awesomeness.git
[submodule "vendor/plugins/rspec_on_rails_matchers"]
	path = vendor/plugins/rspec_on_rails_matchers
	url = git://github.com/brandon/rspec-on-rails-matchers.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/pager/exception_notification.git
[submodule "vendor/plugins/google_analytics"]
	path = vendor/plugins/google_analytics
	url = git://github.com/collectiveidea/google_analytics.git
[submodule "vendor/plugins/acts_as_paranoid"]
	path = vendor/plugins/acts_as_paranoid
	url = git://github.com/technoweenie/acts_as_paranoid.git
[submodule "vendor/plugins/acts_as_audited"]
	path = vendor/plugins/acts_as_audited
	url = git://github.com/collectiveidea/acts_as_audited.git
