body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  background-color: #2F3335;
}
body, input {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  border: none;
}

#collectiveidea {
  background-color: #212425 !important;
  height: 28px;
  border-bottom: none;
  line-height: 28px;
}

#header {
  background-color: #2F3335;
  color: #FFF;
  height: 40px;
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
}

#header h1 {
  margin: 0;
  float: left;
}

#header h1 a {
  text-indent: -2000px;
  overflow: hidden;
  display: block;
  width: 139px;
  height: 39px;
  background: url(../images/logo.gif) no-repeat;
}

#header a {
  color: #FFF;
  text-decoration: none;
}

#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  line-height: 40px;
}

#header li {
  float: left;
  margin-right: 20px;
  font-weight: bold;
}

.blue {
  color: #6CF;
}

.red {
  color: #F66;
}

.purple {
  color: #96C;
}

#header .city, #header .state {
  color: #6D7172;
}

#content {
  position: fixed;
  top: 68px;
  bottom: 40px;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #FFF;
}

#map {
  width: 100%;
  height: 100%;
  background: #FFF url(../images/loading.gif) no-repeat center;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #2F3335;
  color: #FFF;
  line-height: 40px;
  vertical-align: middle;
}

form {
  margin: 0;
  padding: 0;
}

#new_location h2 {
  margin: 0;
  width: 114px;
  height: 36px;
  overflow: hidden;
  text-indent: -2000px;
  background: url(../images/add_a_sign.gif) no-repeat;
  float: left;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

#new_location .address {
  position: absolute;
  right: 490px;
  left: 134px;
  top: 0;
}

#new_location .address input {
  width: 97%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

#new_location .address label {
  display: none;
}

#new_location .sign {
  position: absolute;
  right: 97px;
  top: 0;
}

#new_location .sign ul {
  margin: 0;
  list-style: none;
}

#new_location .sign li {
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

#new_location .sign label {
  background: url(../images/blue.gif) no-repeat left center;
  padding: 4px 0 4px 28px;
  margin-left: -4px;
}

#new_location .sign label.red {
  background-image: url(../images/red.gif);
}

#new_location .sign label.purple {
  background-image: url(../images/split.gif);
}

#new_location label.blue  {
}

#new_location .sign input {
  vertical-align: middle;
  margin-top: -2px;
}

#new_location .buttons {
  position: absolute;
  right: 20px;
  top: 0px;
  line-height: 1;
  padding-top: 6px;
}

#new_location.loading .buttons {
  overflow: hidden;
  text-indent: -2000px;
  width: 72px;
  background: url(../images/saving.gif) no-repeat center;
}

#new_location .error {
  background: url(../images/error.png) no-repeat 1em 1em;
  list-style: none;
  position: absolute;
  width: 300px;
  bottom: 40px;
  background-color: #FFC;
  border: 1px solid #DDC;
  color: #666;
  line-height: 1.5;
  padding: 1em 1em 1em 3em;
  left: 50%;
  margin-left: -150px;
}

#page {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 1em;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

#about {
  display: none;
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 1em;
  overflow: auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}