#map {
  height: 400px;
  width: 700px;
  margin-bottom: 1em;
  clear: both;
}

#counts li {
  display: block;
  float: left;
  margin: 0 0 .3em 0;
  padding: 0;
  width: 33%;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

th {
  text-align: left;
}
td {
  padding-right: 1em;
}

form {
  background-color: #EEE;
  padding: 1em;
  margin-bottom: 1em;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset.sign {
  width: 42%;
  float: left;
}

fieldset.sign ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset.sign ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 9px;
}
fieldset.sign ul li input {
  position: absolute;
  left: 0;
  top: 2px;
}

fieldset.sign label {
  font-weight: normal;
  font-size: 10px;
  color: #666;
}

fieldset.sign label span {
  font-weight: bold;
  font-size: 16px;
  display: block;
}
li.blue, li.blue span {
  color: #369;
}
li.purple, li.purple span {
  color: #909;
}
li.red, li.red span {
  color: #C00;
}

fieldset.address input {
  font-size: 2em;
}

fieldset legend {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  margin: 0 0 0.5em 0;
  padding: 0;
}
fieldset ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset .street input {
  width: 360px;
}
fieldset .city, fieldset .state, fieldset .zip {
  float: left;
  margin: 9px 9px 0 0;
}
fieldset .city input {
  width: 200px;
}
fieldset .state input {
  width: 40px;
}
fieldset .zip input {
  width: 90px;
}

fieldset.address label {
  font-size: 0.8em;
  color: #666;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}

fieldset p {
  float: none;
}
fieldset.buttons {
  text-align: center;
  margin-top: 1em;
  clear: both;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 76%;
  background: #2A2A2A;
  margin: 0;
  padding: 0;
}

#collectiveidea {
  border-bottom: 1px solid #444;
}

a {
  color: #2D5385;
}

#main {
  background-color: #FFF;
  width: 700px;
  margin: 0 auto;
  border: 5px #CCC;
  border-left-style: solid;
  border-right-style: solid;
  padding: 0 1em;
}

#header {
  position: relative;
}

#header h1 {
  margin: 0;
  padding: 0.5em 0;
  color: #2D5385;
  border-bottom: 1px solid #999;
}

#header h1 a {
  text-decoration: none;
}

#nav {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0.6em;
}
#nav li {
  display: inline;
  padding: 0 0.5em;
}

#content {
  padding: 1em 0;
}

pre {
  background-color: #2A2A2A;
}

dl {
  background-color: #DDD;
  padding: 1em;
  border: 1px solid #CCC;
}
dl .pronunciation {
  color: #C00;
}
dl .description {
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: fixed;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
