<div id="collectiveidea">
    <a href="http://collectiveidea.com"><img src="http://opensoul.org/images/header_logo.gif" alt="Collective Idea" class="logo" width="17" height="22" /></a>
    <ul class="links">
        <li><a href="http://daniel.collectiveidea.com/blog">Daniel</a></li>
        <li><a href="http://opensoul.org">Brandon</a></li>
        <li class="name"><a href="http://collectiveidea.com"><img src="http://opensoul.org/images/header_collectiveidea.gif" alt="Collective Idea" width="123" height="21" /></a></li>
    </ul>
</div>