<h3>What's New?</h3>
<p id="whats-new"><img src="/images/cluster.png">We're <span class="highlight">experimenting with Clustering</span>: grouping areas with lots of signs into cluster points until you zoom in closer. This makes the map <span class="highlight">much quicker to load and use</span>, but it doesn't have the <strong>wow</strong> factor of seeing hundreds of points mashed together.  <%= link_to 'Tell us what you think!', 'http://getsatisfaction.com/collectiveidea/products/collectiveidea_political_signs' %>
</p>
